<section class="todoapp">
  <header class="header">
    <h1>Angular</h1>
    <form ng-submit="add()">
      <input class="new-todo" placeholder="What needs to be done?" autofocus ng-model="newTask">
    </form>
  </header>
  <section class="main">
    <input class="toggle-all" type="checkbox" ng-model="isCheckedAll" ng-click="selectAll()">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <!-- filter过滤器 -->
      <li ng-repeat="item in todoList | filter:status track by $index" ng-class="{'completed': item.isCompleted, 'editing': item.id === updateId}">
        <div class="view">
          <input class="toggle" type="checkbox" ng-model="item.isCompleted">
          <label ng-dblclick="update(item.id)">{{item.name}}</label>
          <button class="destroy" ng-click="remove(item.id)"></button>
        </div>
        <!-- 双击的时候，会让当前元素展示出来 -->
        <form ng-submit="save()">
          <input class="edit" ng-model="item.name">
        </form>
      </li>
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong ng-bind="getCount()"></strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a ng-class="{'selected': status.isCompleted === undefined}" href="#/">All</a>
      </li>
      <li>
        <a ng-class="{'selected': status.isCompleted === false}" href="#/active">Active</a>
      </li>
      <li>
        <a ng-class="{'selected': status.isCompleted === true}" href="#/completed">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" ng-click="clearCompleted()" ng-show="isShow()">Clear completed</button>
  </footer>
</section>
